@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Orbitron;  
  user-select: none;
}

.clock {
  display: none;
  align-items: center;
  justify-content: center;
  background: #303136;
}

.clock .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  max-width: 560px;
  width:  95%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  margin-top: 50px;
  transition: all 2s ease;
}

.clock .container .time {
  display: flex;
  align-items: center;
}

.container .time .time-colon {
  display: flex;
  align-items: center;
  position: relative;
}

.container .time .time-colon .am_pm {
  position: absolute;
  top: 0;
  right: -35px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  color: white;
}

.time {
  letter-spacing: 2px;
  margin-left: -30px;
}

.time .time-colon .time-text {
  height: 70px;
  width: 75px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: #242426;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.time .time-colon .time-text, .time .time-colon .colon {
  font-size: 20px;
  font-weight: 600;
  color: white;
}

.time .time-colon .colon {
  font-size: 40px;
  margin: 0 10px;
}

.time .time-colon .time-text .text {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  }